<p>
  <strong>Title:</strong>
  <%= @summary.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @summary.user.name %>
</p>

<h2>持ってるまとめ一覧:</h2>
<table>
  <thead>
  <tr>
    <th>Slack URL</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @contents.each do |content| %>
      <tr>
        <td><%= content.slack_url %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to '戻る', summaries_path %>
