---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: token=xoxp-2319522499-179981490210-182691249652-0c9a2bc587ac78f3ef28420a2edc8a8e
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - read,client,identify,post
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - bc78057a-b672-4a76-b50a-e143f2856716
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"U0BLMNXEK","team_id":"T029DFCEP","name":"-","deleted":true,"profile":{"bot_id":"B0BLK69FW","image_24":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_512.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2015-10-01\/11701525813_1bf3b867badc84e7579e_original.jpg","avatar_hash":"1bf3b867badc","real_name":"","real_name_normalized":""},"is_bot":true,"updated":1459914570},{"id":"U5PSG5ZC4","team_id":"T029DFCEP","name":"a","deleted":false,"color":"4d5e26","real_name":"A;","tz":null,"tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"bot_id":"B5PSG5YTW","api_app_id":"A20NLQP8R","always_active":true,"first_name":"A;","avatar_hash":"e9c5f1ebaf4b","image_24":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_1024.png","image_original":"https:\/\/avatars.slack-edge.com\/2017-06-13\/196863648356_e9c5f1ebaf4b076906c7_original.png","real_name":"A;","real_name_normalized":"A;"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"updated":1497343247},{"id":"U2DFASUTV","team_id":"T029DFCEP","name":"a2c_kawasaki","deleted":false,"color":"5870dd","real_name":"Atsushi
        Kawasaki[\u6cb3\u5d0e\u6df3\u3000CyDesignation]","tz":"Asia\/Tokyo","tz_label":"Japan
        Standard Time","tz_offset":32400,"profile":{"first_name":"Atsushi","last_name":"Kawasaki[\u6cb3\u5d0e\u6df3\u3000CyDesignation]","avatar_hash":"gac7e1698403","title":"","phone":"","skype":"","guest_channels":"[\"G0P0149NZ\"]","guest_invited_by":"U0CQ640JU","real_name":"Atsushi
        Kawasaki[\u6cb3\u5d0e\u6df3\u3000CyDesignation]","real_name_normalized":"Atsushi
        Kawasaki[\u6cb3\u5d0e\u6df3\u3000CyDesignation]","email":"caravandev001@gmail.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/ac7e1698403198bdb9c6d7c000dd4dad.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0023-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/ac7e1698403198bdb9c6d7c000dd4dad.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0023-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/ac7e1698403198bdb9c6d7c000dd4dad.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg[...]
