<div class="main-view">
  <h3><strong><%= t('user.info') %></strong></h3>
  <div class="container-fluid main">
    <div class="col-md-3">
      <%= image_tag(current_user.profile_img_url, {
          :size => '128x128',
          :alt   => 'Generic placeholder image'}) %>
    </div>
    <div class="col-md-9">
      <%= render :partial => 'profile_table' %>
    </div>
  </div>
</div>