<% unless current_page?(root_path) or current_page?(users_auth_failure_path) %>

    <div class="container-fluid" style="background-color:purple;">

        <strong class="navbar-brand text-muted" style="text:bold;color:white;text-align:left;">GrapeSlack</strong>

      <ul class="nav navbar-nav navbar-right">

        <li>
          <%= link_to(user_profile_path(current_user.nickname), {
              :class => 'text-muted',
              :style => 'color:white;'
          }) do %>
              <strong><%= "#{current_user.name}さん" %></strong>
          <% end %>
        </li>

        <li>
          <%= link_to t('commons.logout'), destroy_user_session_path, {
              :method => :delete,
              :style => 'text-align:right;color:white;margin-right:10px;'
          } %>
        </li>
      </ul>

    </div>
<% end %>

