<div class="container-fluid">
  <div id="sidebar-wrapper" class="sidebar-toggle">
    <ul class="sidebar-nav">
      <li><%= link_to t('user.profile'), user_profile_path %></li>
      <li><%= link_to t('user.summaries.title'), summaries_path %></li>
      <li><%= link_to t('user.contents.title'), contents_path %></li>
    </ul>
  </div>
</div>