<% unless current_page?(root_path) || current_page?(users_auth_failure_path) %>

    <div class="container-fluid main">
      <div class="col-md-3">
        <%= render :partial => 'shared/sidemenu' %>
      </div>
      <div class="col-md-9">
        <%= render :partial => 'shared/content' %>
      </div>
    </div>

<% else %>
    <%= yield %>
<% end %>
