// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//まとめの内容
.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  display: flex;
  flex-direction: column;
  width:90%;
  flex: 1;
}