// Place all the styles related to the summaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//まとめ一覧
.table {
  table-layout: fixed;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.table.summaries tr th:nth-child(1) {
  width: 70%;
}

.table.summaries tr th:nth-child(2) {
  width: 10%;
}

